[submodule ".github/actions/dorny/paths-filter"]
	path = .github/actions/dorny/paths-filter
	url = https://github.com/dorny/paths-filter
[submodule ".github/actions/actions-rs/toolchain"]
	path = .github/actions/actions-rs/toolchain
	url = https://github.com/actions-rs/toolchain
[submodule ".github/actions/actions-rs/cargo"]
	path = .github/actions/actions-rs/cargo
	url = https://github.com/actions-rs/cargo
[submodule ".github/actions/actions-rs/clippy-check"]
	path = .github/actions/actions-rs/clippy-check
	url = https://github.com/actions-rs/clippy-check
[submodule ".github/actions/EnricoMi/publish-unit-test-result-action"]
	path = .github/actions/EnricoMi/publish-unit-test-result-action
	url = https://github.com/EnricoMi/publish-unit-test-result-action
