name: Container Registry Cleanup

on:
  schedule:
    # Every day at 20:00 UTC (8 PM)
    - cron: "0 20 * * *"
  workflow_dispatch:

permissions:
  packages: write
  contents: read

jobs:
  repo-has-container:
    name: Repo has container?
    runs-on: ubuntu-latest
    outputs:
      has_container: ${{ steps.determine.outputs.has_container }}
    steps:
      - name: Repo has docker container?
        shell: bash
        id: determine
        run: |
          has_container="${{ vars.HAS_CONTAINER }}"
          echo "has_container=${has_container:-false}" >> ${GITHUB_OUTPUT}

  # cleanup-containers:
  #   name: Cleanup containers
  #   runs-on: ubuntu-latest
  #   needs:
  #     - repo-has-container
  #   if: |
  #     fromJSON(needs.repo-has-container.outputs.has_container) == true
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
  #       with:
  #         show-progress: false

  #     - name: Run container cleanup
  #       env:
  #         GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #       run: |
  #         ./.github/scripts/cleanup-containers.sh \
  #           --user ${{ github.repository_owner }} \
  #           --package ${{ github.event.repository.name }} \
  #           --yes

  cleanup-container-build-cache:
    name: Cleanup container build cache
    runs-on: ubuntu-latest
    needs:
      - repo-has-container
    if: |
      fromJSON(needs.repo-has-container.outputs.has_container) == true
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          show-progress: false

      - name: Run container build cache cleanup
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./.github/scripts/cleanup-container-build-cache.sh \
            --user ${{ github.repository_owner }} \
            --package ${{ github.event.repository.name }}-cache \
            --yes
