# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test Release

on:
  workflow_dispatch: # releasing is manual as we don't want to release every time

concurrency:
  group: "${{ github.workflow }}"
  cancel-in-progress: true # only last step is important, which runs or doesn't

permissions:
  contents: write
  issues: read
  pull-requests: read

env:
  CARGO_TERM_COLOR: always
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test-release:
    name: Test Release
    runs-on: ubuntu-latest
    steps:
      - name: Only on main
        if: |
          github.ref != 'refs/heads/main'
        shell: bash
        run: |
          echo "Only to be executed on main"
          exit 1

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          show-progress: false

      - name: Install git-cliff to generate changelog & next version number
        uses: taiki-e/install-action@cd06cfcb315894ee98ffbc4582bcafbcbc260bdb # v2.67.23
        with:
          tool: git-cliff

      - name: Generate the changelog representing the next release
        shell: bash
        id: release
        run: |
          repository=${{ github.repository }}
          # split at the last / and keep that (kristof-mattei/repo-name -> repo-name)
          repository=${repository##*/}

          version=$(git-cliff --bumped-version --unreleased --github-token ${{ secrets.GITHUB_TOKEN }})
          echo "version=$version" >> ${GITHUB_OUTPUT}

          commit_message="chore(release): Release ${version}"

          git-cliff --output diff-CHANGELOG.md --bump --unreleased --latest --with-commit "${commit_message}" --github-token ${{ secrets.GITHUB_TOKEN }}

          echo "# Next release changelog:" >> ${GITHUB_STEP_SUMMARY}
          cat diff-CHANGELOG.md >> ${GITHUB_STEP_SUMMARY}
